@import
	url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media ( max-width : 600px) {
	body {
		width: 100%;
	}
}

@media ( min-width : 601px) and (max-width: 992px) {
	body {
		width: 100%;
	}
}

@media ( min-width : 993px) {
	body {
		width: 100%;
	}
}

.item1 {
	grid-area: header;
}

.item2 {
	grid-area: main;
}

.item3 {
	grid-area: right;
}

.item4 {
	grid-area: footer;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
	color: #4d4d4d;
}

.grid-container-login {
	display: grid;
	grid: 'header header header header header header'
		'main main main right right right'
		'footer footer footer footer footer footer';
	grid-gap: 0px;
	padding: 0px;
}

.grid-container-cadastro {
	display: grid;
	grid: 'header header header header header header'
		'main main main main main main'
		'footer footer footer footer footer footer';
	grid-gap: 0px;
	padding: 0px;
}

.header {
	width: 100%;
	height: 125px;
	background-color: #5ea3a5;
	position: sticky;
	display: flex;
	align-items: center;
	justify-content: space-between;
	-webkit-box-shadow: 0 4px 4px 0 #a69e9e;
	-moz-box-shadow: 0 4px 4px 0 #a69e9e;
	box-shadow: 0 4px 4px 0 #a69e9e;
}

.header-login {
	width: 100%;
	height: 125px;
	background-color: rgba(253, 232, 226, 100%);
	position: sticky;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo-lugar-left {
	padding-left: 78px;
}

.logo-lugar-right {
	padding-left: 92px;
}

.menu-escolhas {
	padding-right: 148px;
	font-size: xx-large;
	display: flex;
	gap: 80px;
}

.main-login {
	background-color: rgba(253, 232, 226, 100%);
	display: flex;
	justify-content: space-between;
	color: rgba(249, 134, 111, 100%);
}

.main-cadastro {
	background-color: rgba(253, 232, 226, 100%);
	display: flex;
	flex-direction: column;
	align-items: flex-center;
	justify-content: center;
	padding: 20px;
	color: rgba(77, 77, 77, 100%);
	font-family: 'Poppins', sans-serif;
	align-items: center;
	text-align: center;
}


.right-login {
	background-color: rgba(253, 232, 226, 100%);
	display: flex;
	flex-direction: column;
	align-items: flex-center;
	justify-content: center;
	padding: 20px;
	color: rgba(77, 77, 77, 100%);
	font-family: 'Poppins', sans-serif;
	align-items: center;
	text-align: center;
}

.right-form-login {
	display: flex;
	flex-direction: column;
	align-items: flex-center;
}

.right-login .cadastro-login {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
}

.right-a1-login {
	text-decoration: none;
	color: rgba(94, 163, 165, 100%);
	font-size: 14px;
	margin-top: 5px;
}

.right-a2-login {
	text-decoration: none;
	color: rgba(249, 134, 111, 100%);
	font-size: 16px;
	margin-top: 5px;
	font-weight: bold;
	text-align: center;
	padding-left: 10px;
}

.footer {
	width: 100%;
	height: 125px;
	background-color: #5ea3a5;
	position: sticky;
	display: flex;
	align-items: center;
	justify-content: space-between;
	-webkit-box-shadow: 0 4px 4px 0 #a69e9e;
	-moz-box-shadow: 0 4px 4px 0 #a69e9e;
	box-shadow: 0 4px 4px 0 #a69e9e;
}

.footer-column {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer-column h3 {
	color: rgba(253, 232, 226, 100%);
}

.footer-column a {
	text-decoration: none;
	color: rgba(253, 232, 226, 100%);
	margin: 5px;
}

.text-login {
	color: rgba(249, 134, 111, 100%);
	text-align: center;
}

.button {
	color: rgba(253, 232, 226, 100%);
	background-color: rgba(94, 163, 165, 100%);
	border: 4px;
	width: 424px;
	height: 52px;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	text-align: center;
	align-items: center;
}

.button:hover {
	transform: scale(1.01);
	opacity: 0.9;
}

.input {
	background-color: rgba(252, 217, 209, 100%);
	border: 4px;
	width: 711px;
	height: 52.34px;
}

.input-cadastro {
	background-color: rgba(252, 217, 209, 100%);
	border: 4px;
	width: 1234px;
	height: 70px;
	font-size: 30px;
}

.input-descricao {
	background-color: rgba(252, 217, 209, 100%);
	border: 4px;
	width: 1234px;
	height: 230px;
	font-size: 30px;
}

.main-button-login {
	background-color: rgba(253, 232, 226, 100%);
	border: 4px;
	padding-left: 142px;
	padding-top: 60px;
}

.sucesso {
	background-color: rgba(253, 232, 226, 100%);
	display: none;
	flex-direction: column;
	align-items: flex-center;
	justify-content: center;
	padding: 20px;
	color: rgba(77, 77, 77, 100%);
	font-family: 'Poppins', sans-serif;
	align-items: center;
	text-align: center;
}

.codigo {
	background-color: rgba(253, 232, 226, 100%);
	display: none;
	flex-direction: column;
	align-items: flex-center;
	justify-content: center;
	padding: 20px;
	color: rgba(77, 77, 77, 100%);
	font-family: 'Poppins', sans-serif;
	align-items: center;
	text-align: center;
}

.codigo input {
	background-color: rgba(253, 232, 226, 100%);
	color: rgba(77, 77, 77, 100%);
	border: 3px;
	border-style: solid;
	border-color: rgba(249, 134, 111, 100%);
	border-radius: 4px;
	width: 71px;
	height: 103px;
	font-family: 'Poppins', sans-serif;
	font-size: 68px;
}

.texto-azul {
	color: rgba(94, 163, 165, 100%);
	font-family: 'Poppins', sans-serif;
}

.texto-cadastro {
	display: flex;
	color: rgba(249, 134, 111, 100%);
	font-family: 'Poppins', sans-serif;
	align-items: flex-left;
	text-align: flex-left;
	justify-content: flex-left;
}

.tela-de-erro {
	background-color: rgba(253, 232, 226, 100%);
	display: flex;
	flex-direction: column;
	align-items: flex-center;
	justify-content: center;
	padding: 20px;
	color: rgba(77, 77, 77, 100%);
	font-family: 'Poppins', sans-serif;
	align-items: center;
	text-align: center;
	font-size: 30px;
	width: 100%;
}

.tela-de-erro h1 {
	color: rgba(253, 232, 226, 100%);
	font-size: 360px;
	-webkit-text-stroke: 5px rgba(249, 134, 111, 100%);
}

.main-cadastro {
	background-color: rgba(253, 232, 226, 100%);
	display: flex;
	flex-direction: column;
	align-items: flex-center;
	justify-content: space-between;
	padding: 20px;
	color: rgba(77, 77, 77, 100%);
	font-family: 'Poppins', sans-serif;
	align-items: center;
	text-align: center;
	flex-grow: 1;
}
