@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--cor-fundo: #fde8e2;
	--cor-constraste: #f9866f;
	--cor-primária: #5ea3a5;
	--cor-detalhe: #fcd9d1;
	--cor-letra-1: #4d4d4d;
	--cor-letra-2: #ffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
	color: #4d4d4d;
}

body {
	background-color: #fde8e2;
}

/* -------------------------------- header ----------------------------------------------------*/

.cabecalho {
  width: 100%;
  height: 125px;
  background-color: #5ea3a5;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  -webkit-box-shadow: 0 4px 4px 0 #a69e9e;
  -moz-box-shadow: 0 4px 4px 0 #a69e9e;
  box-shadow: 0 4px 4px 0 #a69e9e;
}

.logo-lugar {
  flex-shrink: 0;
}

.menu-escolhas {
  display: flex;
  font-size: xx-large;
}

.menu-escolhas a {
  margin-right: 120px; 
}


/* -------------------------------- home principal da landing page ----------------------------------------------------*/

.menu-inicio {
	width: 100%;
	height: 88vh;
	display: flex;
	background-color: #fde8e2;
	justify-content: center;
	gap: 20px;
}

.imagem-mulher {
	width: 900px;
	height: 699px;
	padding-top: 50px;
}

.conteudo-home-principal {
	padding-top: 90px;
	text-align: justify;
	display: flex;
	flex-direction: column;
	justify-content: right;
	padding-right: 40px;
}

.titulo-fala {
	color: #00333e;
	font-size: 100px;
	font-weight: 400;
	margin-left: 176px;
}

.subtitulo {
	color: #f9866f;
	text-transform: uppercase;
	font-weight: 200;
	margin-left: 90px;
}

.texto-home {
	font-size: 25px;
	color: #4d4d4d;
	font-weight: 300;
	padding-top: 20px;
	width: 900px;
}

.conteudo-home {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 70px;
	padding-top: 40px;
}

.botao-conteudo {
	display: flex;
	gap: 146px;
}

.botao-home {
	width: 378px;
	height: 70px;
	font-size: xx-large;
	background-color: #f9866f;
	padding: 10px 0 10px 0;
	border-radius: 5px;
	color: #4d4d4d;
	border: none;
	text-align: center;
}

/* -------------------------------- painel de escolhas ----------------------------------------------------*/

.conteudos-cartoes {
	width: 100%;
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.cartao-1 {
	width: 321px;
	height: 359px;
	background-color: #fcd9d1;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.imagem-cartao-1 {
	border: 20px solid #f0bbc0;
	border-radius: 50%;
}

.imagem-cartao-2 {
	border: 20px solid #e37350;
	border-radius: 50%;
}

.imagem-cartao-3 {
	border: 20px solid #e3b65f;
	border-radius: 50%;
}

.imagem-cartao-4 {
	border: 20px solid #b2d8ce;
	border-radius: 50%;
}

.imagem-cartao-5 {
	border: 20px solid #abbbcd;
	border-radius: 50%;
}

.texto-cartao-1 {
	color: #4d4d4d;
	font-size: 30px;
}

/* -------------------------------- Venha fazer parte ----------------------------------------------------*/

.conteudo-parte {
	width: 100%;
	height: 64vh;
	display: flex;
	justify-content: center;
}

.titulo-parte {
	padding-top: 20px;
	color: var(--cor-letra-1);
	font-size: 100px;
	margin-left: 100px;
	font-weight: 400;
}

.texto-parte {
	font-size: 32px;
	color: #4d4d4d;
	font-weight: 300;
	padding-top: 20px;
	padding-right: 82px;
	width: 1250px;
	text-align: justify;
}

/* -------------------------------- duvidas ----------------------------------------------------*/

.conteudo-duvidas {
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
}

.fundo-duvidas {
	display: flex;
	background-color: #fcd9d1;
	width: 1762px;
	height: 621px;
	border-radius: 10px;
	display: flex;
	gap: 60px;
}

.container-duvidas {
	padding-left: 80px;
	padding-top: 20px;
}

.container-duvidas-2 {
	padding-top: 20px;
}

.titulo-duvida {
	font-size: 40px;
	color: #00333e;
	font-weight: 600;
}

.texto-duvida-1 {
	width: 832px;
	height: 210px;
	font-size: 30px;
	font-weight: 400;
	text-align: justify;
	color: #4d4d4d;
}

.texto-duvida {
	width: 747px;
	height: 210px;
	font-size: 30px;
	font-weight: 400;
	text-align: justify;
	color: #4d4d4d;
}

/* -------------------------------- login ----------------------------------------------------*/
.moldura {
	width: 100vw;
	color: var(--cor-letra-1);
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -10rem;
}

.login-caixa {
	width: 60vh;
}

.esquerda-login {
	width: 100vw;
	padding: 10rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 19.7rem;
}

.direita-login {
	width: 100vw;
	padding: 10rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10rem;
}

.moldura h1 {
	font-size: 80px;
	text-align: center;
	color: var(--cor-constraste);
}

.moldura .input-box {
	position: relative;
	width: 100%;
	height: 50%;
	margin: 30px 0;
}

.input-box input {
	width: 100%;
	height: 100%;
	background: var(--cor-detalhe);
	border: none;
	outline: none;
	border-radius: 04px;
	font-size: 16px;
	color: var(--cor-letra-2);
	padding: 20px 45px 20px 20px;
	color: var(--cor-letra-1);
}

.input-box ::placeholder {
	color: var(--cor-letra-1);
}

.input-box i {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}

.moldura .lembrar-esqueceu {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	margin: -15px 0 15px;
}

.lembrar-esqueceu a {
	color: var(--cor-primária);
	text-decoration: none;
}

.lembrar-esqueceu a:hover {
	text-decoration: underline;
}

.moldura .button {
	width: 100%;
	height: 45px;
	background: var(--cor-primária);
	border: none;
	outline: none;
	color: var(--cor-letra-2);
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
}

.moldura .cadastrar-link {
	font-size: 14.5px;
	text-align: center;
	margin-top: 20px;
}

.cadastrar-link p a {
	color: var(--cor-constraste);
	text-decoration: none;
	font-weight: 500;
}

.cadastrar-link p a:hover {
	text-decoration: underline;
}

/* -------------------------------- footer ----------------------------------------------------*/

footer {
	width: 100%;
	color: var(--cor-letra-2);
}

.footer-link {
	text-decoration: none;
}

#footer_conteudo {
	background-color: var(--cor-primária);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 3rem 3.5rem;
}

#footer_contato h1 {
	margin-bottom: 0.75rem;
}

#footer_rede_social {
	display: flex;
	gap: 2rem;
	margin-top: 1.5rem;
}

#footer_rede_social .footer-link {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	width: 2.5rem;
	color: var(--cor-letra-2);
	border-radius: 50%;
	transition: all 0.4s;
}

#footer_social_media .footer-link i {
	font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
	opacity: 0.8;
}

#instagram {
	background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#linkedin {
	background-color: #6ea5ff;
}

#github {
	background-color: black;
}

.footer-lista {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	list-style: none;
}

.footer-lista .footer-link {
	color: var(--cor-letra-2);
	transition: all 0.4s;
}

.footer-lista .footer-link :hover {
	color: var(--cor-constraste);
}

#footer_sugestao {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

#footer_sugestao p {
	color: var(--cor-letra-2);
}

#input-group {
	display: flex;
	align-items: center;
	background-color: var(--cor-constraste);
	border-radius: 4px;
}

#input-group input {
	all: unset;
	padding: 0.75rem;
	width: 100%;
}

#input-group button {
	background-color: var(--cor-constraste);
	border: none;
	color: var(--cor-letra-2);
	padding: 0px 1.25rem;
	font-size: 1.125rem;
	height: 100%;
	border-radius: 0px 4px 4px 0px;
	cursor: pointer;
}

#footer-copyright {
	display: flex;
	justify-content: center;
	background-color: var(--cor-primária);
	font-size: 0.9rem;
	padding: 1.5rem;
	font-weight: 100;
}

/* -------------------------------- Cadastro ----------------------------------------------------*/

.body-cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('img/tela-cadastro.svg') center;
}
 
.moldura-cadastro {
  width: 800px;
  color: var(--cor-letra-1);
  border-radius: 4px;
  padding: 30px 40px;
}
 
.moldura-cadastro h1 {
  font-size: 50px;
  text-align: center;
  color: var(--cor-constraste);
}
 
.moldura-cadastro .input-box-c {
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
 
.input-box-c input {
  width: 100%;
  height: 90%;
  background: var(--cor-detalhe);
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 4px;
}
 
.input-box-c input::placeholder {
  color: var(--cor-letra-1);
  padding: 10px;
}
 
.moldura-cadastro .button {
  width: 38%;
  height: 30px;
  background: var(--cor-primária);
  border: none;
  outline: none;
  border-radius: 4px;
  color: var(--cor-letra-2);
  font-weight: 400;
  margin-left: 13.5rem;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 16px;
}
 
.moldura-cadastro .cadastrar-link {
  font-size: 14.5px;
  text-align: center;
  margin: 11px;
}

/* -------------------------------- página logada ----------------------------------------------------*/
.cabeçalho-logado {
  width: 100%;
  height: 125px;
  background-color: #5ea3a5;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;

  -webkit-box-shadow: 0 4px 4px 0 #a69e9e;
  -moz-box-shadow: 0 4px 4px 0 #a69e9e;
  box-shadow: 0 4px 4px 0 #a69e9e;
}

.menu-logado {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.perfil-foto {
  padding-right: 40px;
}

.menu-link {
  padding-left: 60px;
  color: var(--cor-letra-2);
  font-size: 30px;
}

.conteudo-logado {
  padding-top: 10px;
  text-align: left;
}

.titulo-logado {
  margin-top: 30px;
  font-weight: 300;
  font-size: 28px;
  margin-right: 62rem;
  color: var(--cor-letra-1);
}

.comunidades-destaque {
  display: flex;
}

.violencia-F {
  padding: 0 20px 0 2px;
}

.violencia-Pa {
  padding: 0 20px 0 2px;
}

.violencia-Ps {
  padding: 0 20px 0 2px;
}

.relatos-recente {
  padding-top: 10px;
  padding-bottom: 40px;
  text-align: left;
  margin-right: 74.5rem;
  margin-top: 30px;
  font-weight: 300;
  font-size: 24px;
  color: var(--cor-letra-1);
}

.principal-pagina {
  width: 100%;
  height: 230vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

/* -------------------------------- Relatos sz ----------------------------------------------------*/

.relato-container {
  width: 1280px;
  height: 298px;
  margin-right: 20px;
}

.header-relato {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.conteudo-header-relato {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nome-usuario-relato {
  color: var(--cor-primária);
  font-size: 22px;
}

.comunidade-relato {
  color: var(--cor-letra-1);
  font-size: 14px;
}

.fa-ellipsis {
  color: var(--cor-constraste);
  font-size: 25px;
}

.categorias-relato {
  position: relative;
  bottom: 20px;
  left: 84px;
  font-size: 12px;
  color: var(--cor-primária);
}

.texto-relato {
  color: var(--cor-letra-1);
  font-size: 20px;
  text-align: justify;
  width: 1100px;
  height: 180px;
  margin-left: 80px;
}

.footer-relato {
  display: flex;
  color: var(--cor-constraste);
  justify-content: flex-end;
  font-size: 24px;
  gap: 10px;
}

/* -------------------------------- Comunidade ----------------------------------------------------*/

.header-comunidade {
  width: 100%;
  background-color: #F0BBC0;
  height: 142px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.esquerda-header-comunidade {
  color: var(--cor-letra-2);
}

.direita-header-comunidade {
  display: flex;
  gap: 20px;
}

.info-comunidade {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--cor-letra-2);
}

.botao-sair {
  padding: 10px 30px 10px 30px;
  background: var(--cor-primária);
  border: none;
  outline: none;
  border-radius: 4px;
  color: var(--cor-letra-2);
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
  margin-left: 60px;
}

.botao-entrar {
  padding: 10px 30px 10px 30px;
  background: var(--cor-primária);
  border: none;
  outline: none;
  border-radius: 4px;
  color: var(--cor-letra-2);
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
  margin-left: 60px;
}

/* -------------------------------- Pesquisa Comunidade ----------------------------------------------------*/

.menu-pesquisa {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.input-pesquisa {
  width: 1108px;
  background: transparent;
  padding: 10px;
  margin-top: 30px;
  border-radius: 4px;
  border: 1px solid var(--cor-letra-1);
  outline: none;
}

.titulo-pesquisa {
  color: var(--cor-letra-1);
  margin-right: 750px;
  font-weight: 400;
}

.comunidades-populares {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 70px;
}

.comunidade-card {
  display: flex;
  gap: 20px;
}

/* -------------------------------- Pesquisa Usuario ----------------------------------------------------*/

.titulo-pesquisa-usuario {
  color: var(--cor-letra-1);
  margin-right: 900px;
  font-weight: 400;
}

/* -------------------------------- Pesquisa Categoria ----------------------------------------------------*/

.categorias-populares {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 70px;
}

.categoria {
  display: flex;
  width: 1108px;
  height: 70px;
  background-color: var(--cor-detalhe);
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 0px 30px 0px 30px;
  border: 1px solid var(--cor-constraste);
}